<div class="container">
  <div class="row">
    <div class="col">
        <p class="question"><%= @input %> <br>
        --You</p>
        <p class="answer"><%= @answer %> <br>
        --Yur Coach</p>
    </div>
  </div>
<%= link_to "Ask a new question", ask_path %>
</div>
